body *{
    font-family: 'Arial', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 44);
    color: white;
    width: 100%;
}

.dolphin-img {
    padding-left: 42px;
    padding-right: 5px;
    width: 20px;
    height: 20px;
}

.tabcontent {
    display: none;
}
.active {
    display: block;
}

.content-container {
    display: flex;
}

#sidebar {
    flex: 1;
}

ul {
    list-style-type: none;
}

ul img {
    position: relative;
    top: 4px;
    padding-right: 7px;
}

ul li {
    margin-bottom: 8px;
}

.tablink {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-button {
    margin-right: 20px;
    color: white;
    background-color: #4F46E5;

    background-image: url('../img/add.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;

    padding-left: 30px;
    border-radius: 3px;
    padding-top: 5px;

    cursor: pointer;
}

#main-content {
    margin-left: 20px;
    padding-left: 20px;
    background-color: rgb(241, 241, 241);
    flex: 6;
}

#main-content h1 {
    font-weight: bold;
    padding-top: 10px;
    padding-left: 19px;
}